@import "tailwindcss";

:root {
  --background: #fefae0;
  --foreground: #3a2e1f;

  --primary: #d4a373;
  --accent: #ccd5ae;
  --surface: #faedcd;
  --muted: #e9edc9;
  --border: #e2d3b0;
}

/* Dark mode */
.dark {
  --background: #181c14;
  --foreground: #ecdfcc;

  --primary: #697565;
  --surface: #3c3d37;
  --accent: #6b8e65;
  --muted: #545e52;
  --border: #4a4b45;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
}
