@import "tailwindcss";

:root {
  --background: #fdf6f6;
  --foreground: #10002b;

  --primary: #99c1de;
  --accent: #bcd4e6;
  --surface: #c5dedd;
  --muted: #dbe7e4;
  --border: #dbe7e4;
}

/* Dark mode */
.dark {
  --background: #181c14;
  --foreground: #ede7de;

  --primary: #023e8a;
  --surface: #0077b6;
  --accent: #0096c7;
  --muted: #00b4d8;
  --border: #90e0ef;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
}
