@import "tailwindcss";

:root {
  --background: #10002b;
  --foreground: #e7f5fe;

  --primary: #023e8a;
  --surface: #03689e;
  --accent: #0fa7d9;
  --muted: #00b4d8;
  --border: #90e0ef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
}
