@import "tailwindcss";

:root {
  --background: #fefae0;
  --foreground: #3a2e1f;

  --primary: #d3a16e;
  --accent: #ccd5ae;
  --surface: #cebd90;
  --muted: #e9edc9;
  --border: #e2d3b0;
}

/* Dark mode */
.dark {
  --background: #181c14;
  --foreground: #ecdfcc;

  --primary: #5e8950;
  --surface: #858f4c;
  --accent: #6b8e65;
  --muted: #657d61;
  --border: #4a4b45;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
}
